body{
    position: relative;
    height: 100vh;
    width: 100vw;
   background-color: rgb(255, 95, 21);
    width: 90vw;
    height: 130vh;
}


img{
    width: 150px;
    height: 150px;
    position: absolute; 
	left: 23.4%; 
	top: 0%;

}

div{
    background-color: rgba(255, 255, 255, 0.5);
    position:absolute;
    top:55%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 35px;
    border-radius: 20px;
    text-align: center;

}

input{
   width: 190px;
   text-align: center;
}

.botao{
    width: 100px;
}

h1{
    position: absolute; 
	left: 42.4%; 
    font-size: 35px;

}

p{
    left: 41%;
    position: absolute; 
}

button{
    width: 130px;
    height: 30px;
    background-color: red;
    border-radius: 10px;
    border-color: white;
    position: absolute;
    top:100%;
    color: white;
    left: 50%;
   

}
a{
    text-decoration: none;
    color: white;
}

