@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{

    background-color: orange;

}

* {
font-family:Verdana, Geneva, sans-serif;
font-size:12px;
    }
    




.imgi{
	position: absolute;
	top: 9.4%;
    width: 1325px;
    height: 250px;
    left:10px;
    border-radius: 10px;
	} 

    .grid-container {
        display: grid;
        column-gap: 80px;
        grid-template-columns: auto auto auto auto;
border-radius: 10px;

        position: absolute;
        top: 56%;
        left: 2%;
      }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        width: 220px;
        height: 140px;
        border-radius: 10px;
        padding: 20px;
        font-size: 30px;
        text-align: center;
 
    }


.re{
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    color: rgb(241, 127, 74);
}

.img2{
    width: 80px;
height: 80px;
top: 34%;
position: absolute;
left: 7.3%;
}

.img3{
    width: 80px;
height: 80px;
top: 27%;
position: absolute;
left: 34%;
}


.img4{
    width: 80px;
height: 80px;
top: 26%;
position: absolute;
left: 60.5%;
}

.img16{
    width: 70px;
    height: 70px;
    top: 31%;
    position: absolute;
    left: 87.3%;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(241, 255, 38);
}
.re:hover{
    color: rgb(255, 0, 0);
}
.grid-c{
    display: grid;

    grid-template-columns: auto auto auto auto;
border-radius: 10px;

    position: absolute;

    top: 116%;
margin-left: -0.1%;
  
    column-gap: 80px;
  }
  .grid-i {
    background-color: rgba(255, 255, 255, 0.8);

    padding: 20px;
    font-size: 30px;
    width: 221px;
    height: 140px;
    text-align: center;
    border-radius: 13px;
    font-family: 'Bebas Neue', cursive;
  }

.img5{
    width: 80px;
height: 80px;
top: 39%;
position: absolute;
left: 7.2%;
}

.img6{
    width: 60px;
height: 60px;
top: 52%;
position: absolute;
left: 35%;
}
.img7{
    width: 90px;
height: 90px;
top: 42%;
position: absolute;
left: 86.5%;
}

.img8{
    width: 80px;
height: 80px;
top: 42%;
position: absolute;
left: 60.5%;
}

h2{
    position: absolute;
    left: 40%;
    top:100%;
    font-family: 'Alkalami', serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 32, 32);
    color: #FFF;
    width: 1341.2px;
    height: 257px;  

    line-height:30px;
    top:200%;
    margin-left: -2%;
}

.f{
font-size: 25px;
margin-left: 2%;
top:35%;
position: relative;
}
.ins{
margin-left: 20%;
display: grid;
top:40px;
height: 40px;
position: relative;


}

.ini{
    margin-left: 20%;  
    height: 0.1px;
    top: 10px;
    position: relative;
}

.meio{
    margin-left: 4%;
    display: grid;
    top:-43%;
    left: 40%;
    height: 40px;
    position: relative;
    align-items: center;
    
    
    }
    
    .me{
        left: 40%;
        margin-left: 4%;  
        height: 0.1px;
        top: -54%;
        position: relative;
       
        
    }


    .img10{
        width: 50px;
        height:50px;
        position: relative;

        margin-bottom: -4%;
   
        top: -107%;
        left:-28.1%;
     



    }
    .img11{
        width: 30px;
        height:30px;
        top:-104%;
        position: relative;
        left:-25%;
        

    display: inline;
    }
    .img12{
        width: 60px;
        height: 60px;
        top:-110.2%;
        position: relative;
        left:-17.5%;
   

    display: inline;
        

    }

    p{
        left: 65%;
        margin-left: 4%;  
        height: 0.1px;
        top: -84%;
        position: relative;
        font-size: 13px;
    }

    .img13{
        width: 125px;
        height: 120px;
        position: relative;
        top:-6px;
        left: 45px;
    }

    .cop{
        position: absolute;
               background-color: rgb(255, 248, 184);
               width: 1368.2px;
        height: 120px;  
            line-height:30px;
        top:342%;
        margin-left: -4%;
        
    }

    .copy{
        left: 5%;
        top: 24%;
        position: relative;
        font-size: 15px;
        color:red
    }

    .nom{
        position: absolute;
               background-color: rgb(255, 248, 184);
               width: 1330px;
        height: 40px;  
            line-height:30px;
        top:2%;
        left: 11.5%;
        margin-left: -11%;
        border-radius: 10px;
    }

    .img14{
    width: 50px;
    height: 50px;
    position: relative;
top:-4px;
}
    .img15{
        width: 55px;
        height: 40px;
        right: -8px;
        }
    
